language: node_js
os:
  - linux
  - osx
node_js:
  - "v12.16.2"
before_script:
  - "npm install"

after_script:
  - "make test"
  - "cat ./coverage/lcov.info | ./node_modules/.bin/coveralls && rm -rf ./coverage"
env:
  - NO_SERIALPORT_INSTALL=1
